src/localm2cachewithliberty.tar.gz
src/pfe/file-watcher/idc/artifacts/IDC.jar
src/pfe/file-watcher/idc/artifacts/libertyrepocache.zip
src/pfe/file-watcher/idc/artifacts/localm2cache.zip
src/pfe/iterative-dev/dependency-reduced-pom.xml
src/pfe/iterative-dev/target/
codewind-workspace/
.DS_Store
.vscode/tasks.json
.project
.logs
node_modules/
package-lock.json
src/performance/webclient/build/
test/coverage
test/test-results.xml
test/tmp.json
test/resources/codewind-license-data/bin/*
src/performance/LICENSE
src/performance/NOTICE.md
src/pfe/portal/LICENSE
src/pfe/portal/NOTICE.md
src/initialize/LICENSE
src/initialize/NOTICE.md
src/keycloak/LICENSE
src/keycloak/NOTICE.md
src/gatekeeper/LICENSE
src/gatekeeper/NOTICE.md