#Ignore Liberty server files
target/liberty/wlp/usr/servers/defaultServer/logs
target/liberty/wlp/usr/servers/defaultServer/workarea
target/liberty/wlp/usr/servers/defaultServer/.classCache
target/liberty/wlp/usr/servers/defaultServer/.pid

mc-target/*
